body {
  background-image: url("images/clouds.jpg");
}

.find {
  font-family: roboto;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #0b5ed7;
}

.form {
  font-family: roboto;
  font-size: 16px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  font-family: roboto;
  padding: 0;
  margin: 0;
}

#description {
  display: block;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

#description::first-letter {
  text-transform: capitalize;
}

.today {
  font-size: 20px;
  color: #757a79;
  text-align: left;
}

.hwd {
  font-size: 14px;
  color: #6c7854;
  text-align: left;
  margin-left: 45%;
}

.city {
  color: #0b5ed7;
  font-family: roboto;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

.current-weather {
  margin: 20px 30px;
}

.current-temperature {
  font-family: roboto;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}

.today-weather-icon {
  height: 70px;
  width: 70px;
  position: relative;
  top: -13px;
}

.active {
  color: #6c7854;
  cursor: default;
}

.units {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: -32px;
  margin-left: -5px;
}

a:link {
  text-decoration: none;
}

.forecast-box {
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
  border-radius: 20px;
  padding: 20px 5px;
  text-align: center;
  font-size: 16px;
  font-family: roboto;
  width: 120px;
  height: 150px;
  margin-top: 50px;
}

.forecast-box:hover {
  cursor: pointer;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}

.forecast-day {
  color: #757a79;
  font-weight: 600;
}

.forecast-icon {
  width: 60px;
  height: 60px;
  position: relative;
}

.forecast-max {
  color: black;
  font-weight: 500;
}

.forecast-min {
  color: black;
  opacity: 0.5;
}

.forecast-icon {
  height: 70px;
  width: 70px;
  position: relative;
  margin-left: 10px;
}

.container {
  background: #fffdfb;
  padding: 30px 40px;
  margin: 20px auto;
  border: none;
  border-radius: 50px;
  max-width: 900px;
}

.footer {
  margin: 0 auto;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  text-align: center;
}

.github-link {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: bold;
}

.coder {
  color: whitesmoke;
  font-weight: bold;
}
